.logo{
    border-radius: 50%;
}

.tos, .connect{
    margin: 1vh 0;
}

.nav {
    display: inline-block;
    margin: 0 0.5vw;
}

.imageIndex {
    width: 100%;
    height: 40vh;
    object-fit: cover;
}

.listCom{
    width: 80%;
    margin: 0 auto;
}

.ajoutCom{
    width: 60%;
    margin: 2vh auto;
}

.btnCom{
    margin-top: 2vh;
}

.vich-image img{
    width: 20vw;
}

.carrou img{
    height: 80vh;
    object-fit: cover;
}

.textCaroussel{
    width: 20vw;
    margin: 0 auto;()
}

.pagination{
    margin-top: 1vh;
    justify-content: center;
}

.link{
    text-decoration: none;
    color: black;
}

