{% extends 'base.html.twig' %}

{% block title %}Hello AccessDeniedController!{% endblock %}

{% block body %}
    <div class="ajoutCom" role="alert">
        <img src="https://cdn.dribbble.com/users/1192256/screenshots/6290585/1._friday.gif" alt="">
    </div>
{% endblock %}
